@import './flex.scss';

$color:#00B51D;
li{
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    padding:0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 0.35rem;
    text-align: center;
}
.icon{
    width:0.5rem;
    height:0.5rem;
    vertical-align: 0.15em;
    fill:currentColor;
    overflow: hidden;
}
input{
    text-align: left;
}
body{
    padding:0;
    border: 0;
    margin: 0; 
}
html{
    font-size:calc(100vw/10);
}
.commonColor{
    background-color: $color;
}
em{
    font-style: normal;
}
.container{
    width:10rem;
    padding:0.2rem 0.45rem 0 0.45rem;
}


